@model FormOnline.Models.Form

@{
    ViewBag.Title = "Delete";
}

<h3>Suppression d'un formulaire</h3>
<br />
<h4>Voulez-vous supprimer le formulaire : @Model.Title ?</h4>
<br />
<p><b>La suppresion de ce formulaire engendra des pertes de données irréversibles</b></p>
<p>Les questions, réponses et statistiques de ce formulaire seront supprimées</p>
<br />
<fieldset>
    <legend>Form</legend>

    <div class="form-group">
         @*@Html.DisplayNameFor(model => model.Title)*@
        <b>Titre</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="form-group">
         @*@Html.DisplayNameFor(model => model.Description)*@
        <b>Description</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="form-group">
         @*@Html.DisplayNameFor(model => model.ClosingDate)*@
        <b>Date de cloture</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.ClosingDate)
    </div>

    <div class="form-group">
         <b>@Html.DisplayNameFor(model => model.Hash)</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.Hash)
    </div>

    <div class="form-group">
         <b>@Html.DisplayNameFor(model => model.Url)</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.Url)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Supprimer" class="btn btn-default" />
        @Html.ActionLink("Retour à liste des formulaires", "Index", "Data")
    </p>
}
