@model FormOnline.Models.Answer

@{
    ViewBag.Title = "Details";
}

<h3>Détails de la réponse @Model.AnswerLabel</h3>

<fieldset>
    <legend>Answer</legend>

    <div class="form-group">
         @*@Html.DisplayNameFor(model => model.QuestionId)*@
        <b>Question</b>
    </div>
    <div class="form-group">
        @*@Html.DisplayFor(model => model.QuestionId)*@
        @Model.question.QuestionLabel
    </div>

    <div class="form-group">
         @*@Html.DisplayNameFor(model => model.AnswerLabel)*@
        <b>Libellé de la réponse</b>
    </div>
    <div class="form-group">
        @Html.DisplayFor(model => model.AnswerLabel)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Modifier", "Edit", new { id=Model.AnswerId }) |
    @Html.ActionLink("Retour à la liste des réponses", "Index", "Answer", "", "")
</p>
